* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

body {
    font-family: "Open Sans", sans-serif;
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;

    .sidebar {
        width: 250px;
        box-shadow: 0 0 10px #ddd;

        @media screen and (max-width: 767px) {
            width: 62px;
            padding: 10px;
        }

        h3 {
            margin-bottom: 50px;
            position: relative;

            @media screen and (max-width: 767px) {
                font-size: 13px;
                margin-bottom: 15px;
            }

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -29px;
                width: 12px;
                height: 12px;
                background-color: black;
                border-radius: 50%;
                border: 4px solid #f1f5f9;

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            &::before {
                content: "";
                background-color: black;
                position: absolute;
                width: 150px;
                max-width: 80%;
                height: 2px;
                bottom: -20px;
                transform: translateX(-50%);
                left: 50%;

                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }

        a {
            transition: 0.1s;
            margin-bottom: 5px;

            span {
                font-size: 14px;
                margin-left: 10px;
            }

            &:hover,
            &.active {
                background-color: #f6f6f6;

                i {
                    color: var(--blue-color);
                }
            }
        }
    }

    .content {
        overflow: hidden;

        .head {
            .search {
                &::before {
                    font-family: var(--fa-style-family-classic);
                    content: "\f002";
                    font-weight: 900;
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: var(--grey-color);
                    font-size: 14px;
                }

                input[type="search"] {
                    width: 300px;
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid #ccc;
                    margin-left: 5px;
                    padding-left: 35px;
                    width: 250px;
                    transition: width 0.3s;

                    &:focus {
                        outline: #aaa;
                        background-color: #fbfafa;
                    }

                    &:focus::placeholder {
                        color: transparent;
                    }

                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                }
            }

            .icons {
                .notification {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        width: 10px;
                        height: 10px;
                        background-color: var(--red-color);
                        border-radius: 50%;
                    }
                }

                img {
                    width: 32px;
                    height: 32px;
                    margin-left: 15px;
                }
            }
        }
    }

    h1 {
        margin: 20px 20px 40px;

        &::after,
        &::before {
            content: "";
            position: absolute;
            left: 0px;
            bottom: -10px;
            width: 30px;
            height: 3px;
        }

        &::before {
            background-color: white;
            width: 120px;
        }

        &::after {
            background-color: black;
            width: 40px;
        }
    }

    .wrapper {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;

        @media screen and (max-width: 768px) {
            grid-template-columns: minmax(200px, 1fr);
            margin-left: 10px;
            margin-right: 10px;
            gap: 10px;
        }

        .welcome {
            overflow: hidden;

            .avatar {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                margin-left: 20px;
                margin-top: -32px;
                padding: 2px;
                border: 2px solid white;
            }

            .intro {
                img {
                    width: 200px;
                }
            }

            .body {
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;

                div {
                    flex: 1;
                }

                div:not(:last-child) {
                    margin-bottom: 20px;
                }
            }

            .visit {
                margin: 0 15px 15px auto;
                padding: 10px 20px;
                width: fit-content;
                transition: 0.1s;
                color: white;

                &:hover {
                    background-color: var(--blue-alt-color);
                }
            }
        }

        .quick-draft {
            textarea {
                resize: none;
                min-height: 200px;
            }

            .save {
                margin-left: auto;
            }
        }

        /* Targets */
        .targets {
            .target-row {
                .icon {
                    width: 80px;
                    height: 80px;
                    margin-right: 15px;
                }
            }

            .details {
                flex: 1;

                .progress {
                    height: 10px;
                }

                .progress>span {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;

                    span {
                        position: absolute;
                        bottom: 16px;
                        right: -16px;
                        color: white;
                        padding: 2px 5px;
                        border-radius: 6px;
                        font-size: 13px;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -5px;
                            right: 50%;
                            transform: translateX(50%);
                            width: 0;
                            height: 0;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid transparent;
                        }
                    }

                    &.blue span::after {
                        border-top-color: var(--blue-color);
                    }

                    &.orange span::after {
                        border-top-color: var(--orange-color);
                    }

                    &.green span::after {
                        border-top-color: var(--green-color);
                    }
                }
            }
        }

        /* Tickets */
        .tickets {
            .box {
                border: 1px solid #ccc;
                width: calc(50% - 10px);

                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
        }

        /* Latest News */
        .latest-news {
            .news-row:not(:last-of-type) {
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #eee;
            }

            .news-row {
                img {
                    width: 100px;
                    border-radius: 6px;
                    margin-right: 15px;

                    @media screen and (max-width: 767px) {
                        width: 200px;
                    }
                }

                .info {
                    flex-grow: 1;

                    h3 {
                        margin: 0 0 6px;
                        font-size: 16px;

                        @media screen and (max-width: 767px) {
                            margin-top: 10px;
                        }
                    }
                }

                .label {
                    @media screen and (max-width: 767px) {
                        margin: 10px auto;
                        width: fit-content;
                    }
                }

                @media screen and (max-width: 767px) {
                    display: block;
                }
            }
        }

        /* Tasks */
        .tasks {
            .task:not(:last-of-type) {
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #eee;
            }

            .task {
                .info {
                    flex-wrap: 1;
                }

                .delete {
                    cursor: pointer;
                    transition: 0.3;

                    &:hover {
                        color: var(--red-color);
                    }
                }
            }

            .done {
                opacity: 0.5;

                h3,
                p {
                    text-decoration: line-through;
                }
            }
        }

        .latest-uploads {
            ul:not(last-child) {
                border-bottom: 1px solid #eee;
            }

            ul li img {
                width: 40px;
                height: 40px;
            }
        }

        .last-project {
            ul {
                &::before {
                    content: "";
                    position: absolute;
                    left: 11px;
                    width: 2px;
                    height: 100%;
                    background-color: var(--blue-color);
                }

                li::before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    display: block;
                    border-radius: 50%;
                    background-color: white;
                    border: 2px solid white;
                    outline: 2px solid var(--blue-color);
                    margin-right: 15px;
                    z-index: 1;
                }

                li.done::before {
                    background-color: var(--blue-color);
                }

                li.current::before {
                    content: "";
                    animation: change-color 0.8s infinite alternate;
                }
            }

            .launch-icon {
                position: absolute;
                width: 160px;
                right: 0;
                bottom: 0;
                opacity: 0.2;
            }
        }

        /* Reminders */
        .reminders {
            .key {
                width: 15px;
                height: 15px;
            }

            li>.blue {
                border-left: 2px solid var(--blue-color);
            }

            li>.green {
                border-left: 2px solid var(--green-color);
            }

            li>.orange {
                border-left: 2px solid var(--orange-color);
            }

            li>.red {
                border-left: 2px solid var(--red-color);
            }
        }

        /* Latest Post */
        .latest-post {
            .avatar {
                width: 48px;
                height: 48px;
            }

            .post-content {
                text-transform: capitalize;
                line-height: 1.8;
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                min-height: 140px;
            }
        }

        /* Social Media */
        .social-media {
            .box {
                padding-left: 70px;

                i {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 52px;
                    transition: 0.3s;

                    /* display: flex;
                    justify-content: center;
                    align-items: center; */

                    &:hover {
                        transform: rotate(5deg);
                    }
                }
            }

            .twitter {
                background-color: rgb(29 161 242 / 20%);
                color: #1da1f2;

                i,
                a {
                    background-color: #1da1f2;
                }
            }

            .facebook {
                background-color: rgb(24 119 242 / 20%);
                color: #1877f2;

                i,
                a {
                    background-color: #1877f2;
                }
            }

            .youtube {
                background-color: rgb(255 0 0 / 20%);
                color: #ff0000;

                i,
                a {
                    background-color: #ff0000;
                }
            }

            .linkedin {
                background-color: rgb(0 119 181 / 20%);
                color: #0077b5;

                i,
                a {
                    background-color: #0077b5;
                }
            }
        }
    }

    .projects {

        .responsive-table {
            overflow-x: auto;
        }

        .label {
            font-size: 13px;
        }

        table {
            min-width: 1000px;
            border-spacing: 0;

            thead td {
                background-color: #eee;
                font-weight: bold;
            }

            td {
                padding: 15px;
            }

            tbody td {
                border-bottom: 1px solid #eee;
                border-left: 1px solid #eee;
                transition: 0.3s;
            }

            tbody tr:hover {
                td {
                    background-color: #faf7f7;
                }
            }

            tbody tr td:last-child {
                border-right: 1px solid #eee;
            }

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                padding: 2px;
                background-color: white;
            }

            img:not(:first-child) {
                margin-left: -10px;
            }
        }
    }
}

.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

    @media screen and (max-width: 768px) {
        grid-template-columns: minmax(100px, 1fr);
        margin: 10px;
        gap: 10px;
    }

    .close-message {
        border: 1px solid #ccc;
        resize: none;
        min-height: 160px;
    }

    .email {
        display: inline-flex;
        width: calc(100% - 80px);
    }

    .sec-box {
        padding-bottom: 15px;
    }

    :disabled {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: #f0f4f8;
        color: #bbb;
    }

    .sec-box:not(:last-of-type) {
        border-bottom: 1px solid #eee;
    }

    .social-boxes {

        i {
            width: 40px;
            height: 40px;
            background-color: #f6f6f6;
            border: 1px solid #ddd;
            border-right: none;
            border-radius: 6px 0 0 6px;
            transform: 0.3s;
        }

        input {
            height: 40px;
            background-color: #f6f6f6;
            border: 1px solid #ddd;
            border-left: none;
            border-radius: 0 6px 6px 0;
            padding-left: 10px;
            transform: 0.3s;
        }

        &>div:focus-within i {
            color: var(--blue-color);
        }
    }

    .widgets-control {

        .control {
            input[type="checkbox"] {
                -webkit-appearance: none;
                appearance: none;
            }

            label {
                padding-left: 30px;
                cursor: pointer;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -9px;
                    width: 14px;
                    height: 14px;
                    border: 2px solid var(--grey-color);
                    border-radius: 4px;
                }

                &:hover {
                    &::before {
                        border-color: var(--blue-color);
                    }
                }

                &::after {
                    content: "\f00c";
                    font-family: var(--fa-style-family-classic);
                    font-weight: 900;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -9px;
                    color: var(--blue-color);
                    background-color: var(--blue-color);
                    color: white;
                    font-size: 12px;
                    border-radius: 4px;
                    width: 18px;
                    height: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: scale(0);
                    transition: 0.3s;
                }
            }

            input[type="checkbox"]:checked+label::after {
                transform: scale(1);
            }
        }
    }

    .backup-control {
        input[type="radio"] {
            -webkit-appearance: none;
            appearance: none;
        }

        .date {



            input[type="radio"]:checked+label::before {
                border-color: var(--blue-color);
            }

            input[type="radio"]:checked+label::after {
                transform: scale(1);
            }

            label {
                padding-left: 30px;
                cursor: pointer;
                position: relative;
            }

            label::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -11px;
                width: 18px;
                height: 18px;
                border: 2px solid var(--grey-color);
                border-radius: 50%;
            }

            label::after {
                content: "";
                position: absolute;
                left: 5px;
                top: 5px;
                width: 12px;
                height: 12px;
                background: var(--blue-color);
                border-radius: 50%;
                transition: 0.3s;
                transform: scale(0);
            }

        }

        .servers {
            border-top: 1px solid #eee;
            padding-top: 20px;
            gap: 5px;
        }

        @media (max-width: 767px) {
            .servers {
                flex-wrap: wrap;
            }
        }

        .servers .server {
            border: 2px solid #eee;
            position: relative;
        }

        .servers .server label {
            cursor: pointer;
        }

        .servers input[type="radio"]:checked+.server {
            border-color: var(--blue-color);
            color: var(--blue-color);
        }
    }
}

.profile-page {
    gap: 20px;
    display: flex;
    flex-direction: column;

    .overview {
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }

    .avatar-box {
        width: 300px;

        @media screen and (min-width: 767px) {
            border-bottom: 1px solid #eee;
        }

        img {
            width: 120px;
            height: 120px;
        }

        .level {
            height: 6px;
            overflow: hidden;
            margin: auto;
            width: 70%;

            span {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: var(--blue-color);
                border-radius: 6px;
            }
        }
    }

    .info-box {
        h4 {
            font-weight: normal;
        }

        .toggle-switch {
            height: 20px;

            @media screen and (max-width: 767px) {
                margin: auto;
            }

            &::before {
                width: 12px;
                height: 12px;
                font-size: 8px;
            }
        }

        .toggle-checkbox:checked+.toggle-switch::before {
            left: 17px;
        }

        .box {
            flex-wrap: wrap;
            border-bottom: 1px solid #eee;
            transition: all 0.3s ease;
            padding: 20px;
            border-radius: 10px;
            justify-content: space-between;

            &>div {
                padding: 10px 0 0;

                @media screen and (min-width: 767px) {
                    min-width: 300px;
                }
            }

            div {
                padding: 10px 0 0;
            }
        }

        .box:hover {
            background-color: #f5f5f5;
        }
    }

    .other-data {

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }

        .skills-card {
            flex-grow: 1;

            ul li {
                padding: 15px 0;
            }

            ul li:not(:last-child) {
                border-bottom: 1px solid #eee;
            }

            ul li span {
                display: inline-flex;
                padding: 4px 10px;
                font-size: 14px;
            }

            ul li span:not(:last-child) {
                margin-right: 10px;
            }
        }

        .activities {
            flex-grow: 2;

            .activity:not(:last-child) {
                border-bottom: 1px solid #eee;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }

            .activity {

                @media screen and (max-width: 767px) {
                    flex-direction: column;
                }

                img {
                    width: 64px;
                    height: 64px;
                    margin-right: 10px;

                    @media screen and (max-width: 767px) {
                        margin-right: 0;
                        margin-bottom: 15px;
                    }
                }

                .date {
                    @media screen and (min-width: 768px) {
                        margin-left: auto;
                    }

                    @media screen and (max-width: 767px) {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

/* Projects Page Styling */
.projects-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin-left: 20px;
    margin-right: 20px;

    @media screen and (max-width: 767px) {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }

    .project {

        h4 {
            font-weight: normal;
        }

        .date {
            position: absolute;
            right: 10px;
            top: 10px;
        }

        .team {
            position: relative;
            min-height: 80px;

            a {
                position: absolute;
                left: 0;
                bottom: 0;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 2px solid white;
                }

                &:hover {
                    z-index: 2;
                }
            }

            a:nth-child(2) {
                left: 25px;
            }

            a:nth-child(3) {
                left: 50px;
            }

            a:nth-child(4) {
                left: 75px;
            }

            a:nth-child(5) {
                left: 100px;
            }
        }

        .techs {
            justify-content: flex-start;
            border-top: 1px solid #eee;
            padding-top: 15px;
            margin-top: 15px;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            span {
                padding: 5px 10px;
                margin-left: 10px;
                width: fit-content;

                @media screen and (max-width: 768px) {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .info {
            border-top: 1px solid #eee;
            padding-top: 15px;
            margin-top: 15px;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
        }

        .prog {
            height: 8px;
            width: 260px;
            max-width: 90%;
            position: relative;
            border-radius: 6px;

            @media screen and (max-width: 768px) {
                margin-bottom: 15px;
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: var(--blue-color);
                border-radius: 6px;
            }
        }

    }
}

/* Courses Page Styling */
.courses-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    @media screen and (max-width: 767px) {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }

    .course {
        overflow: hidden;
        justify-content: space-between;

        .cover {
            max-width: 100%;
        }

        .instructor {
            position: absolute;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            border: 2px solid white;
            top: 20px;
            left: 20px;
        }

        .description {
            line-height: 1.6;
        }

        .info {
            border-top: 1px solid #eee;
            font-size: 13px;

            .title {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                font-size: 13px;
            }
        }
    }
}

.friends-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    @media screen and (max-width: 767px) {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }

    .contact {
        position: absolute;
        left: 10px;
        top: 10px;

        i {
            background-color: #eee;
            padding: 10px;
            border-radius: 50%;
            color: #666;
            font-size: 13px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                background-color: var(--blue-color);
                color: white;
            }
        }
    }

    .friend {
        .icons {
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 15px;
            padding-bottom: 15px;

            i {
                margin-right: 5px;
            }

            .vip {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 40px;
                opacity: 0.2;
            }
        }
    }
}

.files-page {
    align-items: flex-start;
    flex-direction: row-reverse;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: normal;
    }

    .files-stats {
        min-width: 260px;

        .icon {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        .size {
            margin-left: auto;
        }

        .blue {
            background-color: rgb(0 117 255 / 20%);
        }

        .green {
            background-color: rgb(34 197 94 / 20%);
        }

        .red {
            background-color: rgb(244 67 54 / 20%);
        }

        .orange {
            background-color: rgb(245 158 11 / 20%);
        }

        .upload {
            margin: 15px auto 0;

            i {}
        }
    }

    .files-content {
        flex: 1;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }

        img {
            width: 64px;
            height: 64px;
            transition: all 0.3s ease;
        }

        .file:hover img {
            transform: rotate(5deg);
        }

        .info {
            border-top: 1px solid #eee;
        }
    }
}

.plans-page {}

.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}

.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}

.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}


/* Settings Page Styling */
.page {
    .toggle-checkbox {
        -webkit-appearance: none;
        appearance: none;
        display: none;
    }

    .toggle-switch {
        background-color: #ccc;
        width: 78px;
        height: 32px;
        border-radius: 16px;
        position: relative;
        transition: 0.3s;
        cursor: pointer;

        &::before {
            font-family: var(--fa-style-family-classic);
            content: "\f00d";
            font-weight: 900;
            position: absolute;
            background-color: white;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            top: 4px;
            left: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #aaa;
            transform: translateX(0);
            transition: transform 0.3s ease, color 0.3s ease;
        }
    }

    .toggle-checkbox:checked+.toggle-switch {
        background-color: var(--blue-color);
    }

    .toggle-checkbox:checked:checked+.toggle-switch::before {
        content: "\f00c";
        color: var(--blue-color);
        transform: translateX(46px);
        right: 4px;
    }
}


/* Animations */
@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }

    to {
        background-color: white;
    }
}